/*Schrijf hier jouw CSS*/

.body {
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 2px dashed green;
    flex-basis: auto;
    height:100vh;
}

.body-row {
    display:flex;
    flex-direction: row;
    border: 2px dashed blue;
    height:calc(100% - 160px);
    flex-grow:1;
    flex-shrink:0;
}

.header-footer{
    flex-basis:80px;
    flex-grow:0;
    flex-shrink:0;
    width:100vw;
}

.body-row-items-article{
    display:flex;
    order:1;
    flex-grow: 1;
    flex-shrink: 2;
    flex-wrap: wrap;
    overflow: hidden;
    border: 2px dashed saddlebrown;
}

.body-row-items-aside{
    flex-basis: 400px;
    flex-grow:1;
    order:2;
    border: 2px dashed yellow;
}

.body-row-items-nav {
    flex-basis: 400px;
    flex-grow:1;
    order:3;
    border: 2px dashed purple;
}



